<mat-toolbar>
    <span>{{actionTitel}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
      <mat-icon class="mat-18">close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">

    <form [formGroup]="fuelForm" class="normal-form">
        <mat-grid-list cols="1" rowHeight="120px">
          <mat-grid-tile>
            <div class="contorles-container">
              <mat-form-field appearance="standard">
                <mat-label>Fuel Type</mat-label>
                <input formControlName="fuelName" matInput placeholder="Fuel Type*">
                <mat-error> Fuel Type is required </mat-error>
              </mat-form-field>
              <div class="button-row">
                <button mat-raised-button color="primary" (click)="onCreate()" [disabled]="fuelForm.invalid"
                  type="submit">{{actionBtn}}</button>
                <button mat-raised-button color="warn" (click)=" onClear()">Claer</button>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>

  </div>

