<div class="container-fluid page">

    <div  class="page__box p-3 "><mat-icon>home</mat-icon> Home</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data postion-absolute  ">
            
                <!-- widget start -->
                <div class="card-body color1">
                    <div class="float-left">
                        <h3>
                            <span class="currency">LRT-</span>
                            <span class="count">2000</span>
                        </h3>
                        <p>بنزين</p>
                    </div>
                    <div class="float-right">
                      <i><mat-icon><span class="material-symbols-rounded">
                        ev_station
                        </span></mat-icon></i> 
                      
                    </div>
                    
      
                </div>
                <!-- widget End -->

                <!-- widget start -->
                <div class="card-body color2">
                    <div class="float-left">
                        <h3>
                            <span class="currency">LRT-</span>
                            <span class="count">2000</span>
                        </h3>
                        <p>جازولين</p>
                    </div>
                    <div class="float-right">
                      <i><mat-icon><span class="material-symbols-rounded">
                        oil_barrel
                        </span></mat-icon></i> 
                      
                    </div>
                    
      
                </div>
                <!-- widget End -->

                <!-- widget start -->
                <div class="card-body color3">
                    <div class="float-left">
                        <h3>
                            <span class="currency">LRT-</span>
                            <span class="count">2000</span>
                        </h3>
                        <p>غاز طبخ</p>
                    </div>
                    <div class="float-right ">
                      <i><mat-icon><span class="material-symbols-rounded">
                        local_fire_department
                        </span></mat-icon></i> 
                      
                    </div>
                    
      
                </div>
                <!-- widget End -->

                <!-- widget start -->
                <div class="card-body bg-info text-white">
                    <div class="float-left">
                        <h3>
                            <span class="currency">LRT-</span>
                            <span class="count">2000</span>
                        </h3>
                        <p>غاز طيران</p>
                    </div>
                    <div class="float-right">
                      <i><mat-icon><span class="material-symbols-rounded">
                        airlines

                        </span></mat-icon></i> 
                      
                    </div>
                    
      
                </div>
                <!-- widget End -->
         
            
        </div>
    </div>
</div>
